article {
	display: inline-block;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	text-align: center;
}

.places {
	display: block;
	text-align: center;
	margin: 45px auto;
}

h1 {
	float: left;
	text-align: left;
	width: 95%;
	margin-bottom: 5px;
	display: block;
	margin-top: 0px;
	margin-left: 20px;
	font-size: 30px;
}

article h2 {
	font-size: 30px;
	margin: auto;
	padding: 0px;
}
